<h1>Add bookmark for <%= @list.name %> movie list</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :movie_id, collection: Movie.all %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
